# Virtual environment directories
venv/
env/

# Python cache files
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment and instance configuration files
*.env
instance/

# Editor/IDE specific files
.vscode/
.idea/
*.swp

# Log and temporary files
*.log
*.tmp
*.bak
*.swo
*.DS_Store

# Build and distribution directories
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/

# Database files
*.sqlite3
*.db